.buttons {
    margin-top: 14px;
}

.group-link {
    display: block;  
    margin-bottom: 10px;  
    font-size: 20px;
    color: #007BFF;
    font-weight: bold; 
}

.group-link:hover {
    color: #0056b3; 
    text-decoration: underline; 
}