.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort {
    justify-content: flex-end;
    margin-bottom: 15px;
}

.label-text {
    display: inline-block;
    width: 150px; 
}

.buttons {
    margin-top: 14px;
}

.group-link {
    display: block;  
    margin-bottom: 10px;  
    font-size: 20px;
    color: #007BFF;
    font-weight: bold; 
}

.group-link:hover {
    color: #0056b3; 
    text-decoration: underline; 
}