.label-text {
    display: inline-block;
    width: 150px; 
}

.content ul {
    margin-top: -10px; 
}

.button.is-small {
    font-size: 0.4rem; 
    background-color: #d4d4d4; 
    color: #333;
    margin-left: 10px;
    margin-top: 4px;
}

.edit-link {
    margin-top: 10px; 
}

.flex-container {
    display: flex;
    align-items: center;
}

.rounded-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    overflow: hidden;
}

.user-name {
    margin-right: 10px; 
}