/* グループメンバーのpタグとulの間の余白を小さくする */
.content ul {
    margin-top: -10px; /* 調整する値はお好みに合わせて変更可能 */
}

/* ボタンを小さくする */
.button.is-small {
    font-size: 0.4rem; /* フォントサイズを調整 */
    background-color: #d4d4d4; /* 薄い灰色 */
    color: #333; /* 文字色を濃い灰色に変更 */
    margin-left: 10px;
    margin-top: 4px;
}

.edit-link {
    margin-top: 10px; /* 上に余白を追加 */
}


