.control-buttons {
    display: flex;
    justify-content: flex-end;
}

.control-buttons form {
    margin-left: 10px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 15px;
    margin-bottom: 15px;
}

.comment-card {
    background-color: #f7f7f7; 
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px; 
}

.comment-card {
    background-color: #f7f7f7; 
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px; 
    border: 1px solid #e0e0e0; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}

.post-title {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.user-info, .movie-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    font-size: 20px;
    margin-right: 10px;
}

.username {
    color: #0077cc;
}

.movie-title {
    color: #ff9900;
}

.post-text {
    margin-top: 10px;
}

.rounded-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: black; 
    color: white; 
    overflow: hidden; 
}